# Auto detect text files and perform LF normalization
* text=auto
report[[:space:]]video[[:space:]]and[[:space:]]the[[:space:]]members/Arte[[:space:]]Website[[:space:]]Report.mp4 filter=lfs diff=lfs merge=lfs -text
