*{
    margin: 0;
    padding: 0;
}

.admin-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
    color:#d4d4d4
}

.title{
    font-size: 2.5em;
    background-color: rgb(42, 42, 42);
    padding-left: 40px;
}

.navigation{
    flex-direction: row;
    background-color: rgb(42, 42, 42);
    padding: 0 10px;
    padding: 20px;
    font-size: 1.5em;
    margin: 0;
}
    
    .navigation a{ 
        list-style: none;
        text-decoration: none;
        color: inherit;
        color: #d4d4d4;
        padding-left: 40px;
    }
    

    .navigation a:hover{
        color: red;
    }

.mesa{
    background-color: rgb(225, 225, 225);
}
    .mesa table{
        width:100%;
        
    }
    .mesa th{
        background-color: #d4d4d4;
    }
    .mesa td{
        padding: 10px;
        background-color: #d4d4d4
    }

    .add-service{
        background-color: rgb(42, 42, 42);
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        gap: 30px;
       
    }